<footer class="footer">
<button class="footer__button"><img src="./assets/images/ico-arrow.svg"></button>
       <nav class="footer__nav" "footer__nav--first"><ul>
        <li><a class="footer__nav--link" href="https://adalab.es/">articles</a></li>
        <li><a class="footer__nav--link"href="https://adalab.es/">books</a></li>
        <li><a class="footer__nav--link"href="https://adalab.es/">events</a></li>
        <li><a class="footer__nav--link"href="https://adalab.es/">reasons</a></li>
        <li><a class="footer__nav--link"href="https://adalab.es/">tips</a></li>
       </ul>
       </nav>

       <nav class="footer__nav" "footer__nav--second"><ul>
        <li><a class="footer__nav--link"href="https://adalab.es/">twitter</a></li>
        <li><a class="footer__nav--link"href="https://adalab.es/">instagram</a></li>
        <li><a class="footer__nav--link"href="https://adalab.es/">mastodon.social</a></li>
       </ul>
</nav>
       <div class="footer__copy">
              <p>&copy 2022</p>
              <p>we &hearts; components</p>
       </div>
</footer>