<footer class="footer">
  <a class="footer__button" href="./index.html#hero"
    ><img src="./assets/images/ico-arrow.svg" title="Inicio de la página" alt="Flecha hacia arriba"
  /></a>

  <div class="footer__flex">
    <nav class="footer__flex--first">
      <ul>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab">articles</a>
        </li>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab">books</a>
        </li>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab">events</a>
        </li>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab">reasons</a>
        </li>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab">tips</a>
        </li>
      </ul>
    </nav>

    <nav class="footer__flex--second">
      <ul>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab">twitter</a>
        </li>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab">instagram</a>
        </li>
        <li>
          <a class="footer__flex--link" href="https://adalab.es/" title="Página principal de Adalab"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>

    <div class="footer__copy">
      <small>&copy 2022</small>
      <p>we <span class="footer__copy--heart">&hearts;</span> components</p>
    </div>
  </div>
</footer>
