<footer class="footer">
<button class="footer__button"><img src="./assets/images/ico-arrow.svg"></button>
       <nav class="footer__nav--first"><ul>
        <li>articles</li>
        <li>books</li>
        <li>events</li>
        <li>reasons</li>
        <li>tips</li>
       </ul>
       </nav>

       <nav class="footer__nav--second"><ul>
        <li>twitter</li>
        <li>instagram</li>
        <li>mastodon.social</li>
       </ul>
</nav>
       <div class="footer__copy">
              <p>&copy 2022</p>
              <p>we &hearts; components</p>
       </div>
</footer>