<section class="reasons">
<h2 class="reasons__title">3 reasons to purchase</h2>
<include src="./reasons_article.html" title="Ut sed metus" description="Lorem ipsum dolor sit amet, consecteur."></include>
<include src="./reasons_article.html" title="Curabitur ac erat" description="Mauris mattis urna quis lorem molestie."></include>
<include src="./reasons_article.html" title="Morbi dictum" description="Aliquam in dolor et dolor tincidunt."></include>
            <button class="reasons__button">more reasons</button>
        </section>