// fonts
$font-main: 'Roboto', sans-serif;
$font-titles: 'Roboto Slab', serif;

// colors
$button: #f26002;
$tipsBackground: #ffffff;
$reasonsBackground: #8ccbea;
$footerBackground: #304268;
$burgerButton:#0271bc;
