// fonts
$fontMain: 'Roboto', sans-serif;
$fontTitles: 'Roboto Slab', serif;

// colors
$button: #f26002;
$tipsBackground: #ffffff;
$reasonsBackground: #8ccbea;
$footerBackground: #304268;
$burgerButton:#0271bc;
