// fonts
$fontMain: 'Roboto', sans-serif;
$fontTitles: 'Roboto Slab', serif;

// colors
$button: #f26002;
$tipsBackground: #ffffff;
$tipsText: #8ccbea;
$reasonsBackground: #eff9ff;
$footerBackground: #304268;
$burgerButton:#0271bc;
$title: #000000;
$description: #4a4a4a;
