.footer {
  background-color: $footerBackground;
  font-family: $fontMain;
  color: $tipsBackground;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-transform: uppercase;
    line-height: 30px;
  
    padding-bottom: 36px;

    &--link {
      text-decoration: none;
      color: $tipsBackground;
    }
  }

  &__button {
    width: 45px;
    height: 45px;
    background-color: $tipsBackground;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 $button inset, 0 0 10px 4px $button;
    }
  }

  &__copy {
    padding-top: 2px;
    text-transform: lowercase;
    font-size: 14px;

    &--heart {
      color: $button;
    }
  }
}

@media all and (min-width: 768px) {
  .footer {
    &__flex {
      flex-direction: row;
      gap: 148px;
      text-align: left;
      padding-top: 18px;
      padding-bottom: 40px;
      padding-left: 52px;
      padding-right: 81px;

      &--first,
      &--second {
        order: 2;
      }
    }


    &__copy {
      order: 1;
      padding-top: 0;
    }
  }
}

@media all and (min-width: 1200px) {
  .footer {
    &__flex {
      padding-left: 370px;
      padding-right: 370px;
    }
}
}
