.header__menu {
  background-color: $burgerButton;
  height: 22px;
  width: 32px;
  position: fixed;
  left: 0;
}

@media all and (min-width: 768px) {

  .header__menu {
    height: 44px;
    width: 41.6px;
    padding: 12px 5px;
    
  }

}