.tips {
  display: flex;
  flex-direction: column;
  // margin: 61.9px, 15px, 45px, 15px;
  margin-left: 15px;
  margin-right: 15px;

  &__text {
    font-family: $fontMain;
    color: $tipsText;
    font-size: 14px;
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 62px;
  }

  &__title {
    font-family: $fontTitles;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  &__description {
    font-family: $fontMain;
    color: $description;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 26px;
  }

  &__button {
    height: 45;
    width: 76px;
    font-family: $fontMain;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    color: $button;
    background-color: $tipsBackground;
    border-radius: 22.5px;
    border: 2px solid $button;
    margin-bottom: 45px;
    transition: all 300ms;

    &:hover {
      transform: scale(1.3);
    }
  }
}

@media all and (min-width: 768px) {
  .tips {
    margin-left: 39px;
    margin-right: 39px;
  
    &__text {
      margin-top: 37px;
    }
  
    &__title {
      font-size: 26px;
      line-height: 45px;
      margin-bottom: 27px;
    }
  
    &__description {
      font-size: 20px;
      margin-bottom: 27px;
    }
  
    &__button {
      width: 91px;
      margin-bottom: 60px;
    }
}
}

@media all and (min-width: 1200px) {
  .tips {
    margin-left: 275px;
    margin-right: 204px;

    &__button {
      width: 160px;
    }
  }
}
